@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --white: #fff;
    --white2: #fbfcfc;
    --white3: #adb7c3;
    --dark: #303841;
    --orange: #D72323;
    --orangeHover: #c82121;
}


body {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: var(--dark);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

/* ================================================ header-top ================================================*/

.header-top {
    padding: 10px 0;
    background-color: var(--dark);
}

.header-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-top-left i {
    font-size: 13px;
    color: var(--orange);
    margin-right: 3px;
}

.header-top-left span {
    font-size: 13px;
    color: var(--white);
    margin-right: 12px;
}

.header-top-right i {
    font-size: 13px;
    color: var(--white);
    margin-left: 13px;
}

.header-top-right i:hover {
    color: var(--orange);
}

/* ================================================ header-bottom ================================================*/

.header-bottom {
    padding: 24px 0;
    background-color: var(--white);
}

.header-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom-left {
    display: flex;
}

.header-bottom-left h2 {
    color: var(--dark);
    font-size: 24px;
}

.header-bottom-left span {
    color: var(--orange);
}

.header-bottom-left ul {
    margin-left: 24px;
    margin-top: 8px;
    display: flex;
}

.header-bottom-left ul li a {
    color: var(--dark);
    margin-right: 13px;
    font-weight: 400;
    font-size: 13px;
    transition: .3s;
}

.header-bottom-left ul li a:hover {
    transition: .3s;
    color: var(--orange);
}

.header-bottom-left ul li:nth-child(1) a {
    color: var(--orange);
}

.header-bottom-right {
    margin-top: 8px;
}

.header-bottom-right a {
    padding: 12px 20px;
    color: var(--white);
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid var(--orange);
    background-color: var(--orange);
    transition: .3s;
}

.header-bottom-right a:nth-child(1) {
    color: var(--dark);
    border: none;
    border-radius: none;
    background-color: transparent;
}

.header-bottom-right a:nth-child(2):hover {
    background-color: var(--orangeHover);
    transition: .3s;
}

/* ================================================ hero ================================================*/

.hero {
    background-color: var(--white2);
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0;
}

.hero-container .title {
    padding-top: 65px;
}

.hero-container .title h3 {
    font-size: 11px;
    color: var(--dark);
}

.hero-container .title i {
    font-size: 11px;
    margin-right: 3px;
    color: var(--orange);
}

.hero-container .title h1 {
    font-size: 42px;
    margin: 13px 0;
}

.hero-container .title p {
    font-size: 13px;
    margin-bottom: 38px;
}

.hero-container a {
    padding: 12px 20px;
    color: var(--white);
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid var(--orange);
    background-color: var(--orange);
    transition: .3s;
}

.hero-container a:hover {
    background-color: var(--orangeHover);
    transition: .3s;
}

/* ================================================ booking set ================================================*/

.booking-set {
    height: 200px;
    background-color: var(--white2);
}

.booking-set-container {
    max-width: 1024px;
}

.booking-top div {
    display: inline-block;
    padding: 10px;
    color: var(--white);
    background-color: var(--orange);
    box-shadow: 1px -10px 13px 0px rgba(155, 155, 155, 0.1);
}

.booking-top div:nth-child(2) {
    margin-left: -5px;
    color: var(--orange);
    background-color: var(--white);
}

.booking-top span,
.booking-top h3 {
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
}

.booking-bottom {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 1px 0px 50px 0px rgba(181, 181, 181, 0.4);
}

.booking-bottom div {
    margin: 30px 20px;
    background-color: var(--white);
}

.booking-bottom div:nth-child(-n+3) {
    width: 250px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--white3);
}

.booking-bottom div:nth-child(-n+3):hover {
    border: 1px solid var(--orange);
}

.booking-bottom div:nth-child(-n+3) span {
    color: var(--white3);
    font-size: 12px;
    margin-top: 12px;
    padding: 0 5px;
}

.booking-bottom div:nth-child(-n+3) i {
    color: var(--orange);
}

.booking-bottom div:nth-child(4) {
    padding-top: 12px;
}

.booking-bottom div:nth-child(4) a {
    color: var(--orange);
    font-size: 18px;
}

.booking-bottom div:nth-child(4) a:hover {
    color: var(--orangeHover);
}

.booking-bottom div button {
    padding: 12px 20px;
    font-size: 12px;
    color: var(--white);
    border: 1px solid var(--orange);
    border-radius: 5px;
    background-color: var(--orange);
}

@media only screen and (max-width:1024px){
    body{
        display: none;
    }
}
